<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juice Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css"> </link>

</head>
<body>
   <nav class="container mx-auto flex items-center justify-between py-4">
      <div class="flex items-center">
        <a href="/">
      <img src="/img/img1.png"  class="rounded-2xl" alt="logo" style="width:20%;max-width:none;box-shadow: 10px 10px 5px #ccc;">
       </a>
      <h1 class="ml-2 font-bold">Fruit Store</h1>

      </div>
    <div>
       <ul class="flex items-center">
        <li class="ml-6"> <a href="/">Menu </a> </li>
        <li class="ml-6"> <a href="#">Offers </a>  </li>
        <%if(user){%>
    <li class="ml-6"> <a href="/logout">Log Out</a> </li>
     <%} else { %>
        <li class="ml-6"> <a href="register">Register </a> </li>
        <li class="ml-6"> <a href="/login">Login </a> </li>
        <%}%>
        <li class="ml-6"> <a href="/cart" class="inline-block rounded-full py-2 px-2 flex">
          <span class="cartquantity text-white font-bold pr-1"><%=session.cart?session.cart.totalQty :" "%></span>
         <img src="/img/cart.png" alt ="cart"> 
        </a> 
        </li>
      </ul>
    </div>
  
   </nav>
   <%- body %>
    <script src="/js/app.js"> </script>

</body>
</html>
